@model LoginViewModel;

@{ 
    ViewBag.Title = "User Login";
}

    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <h3>@ViewBag.Title</h3>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12">
                    <form enctype="multipart/form-data" asp-action="Login" asp-controller="Account" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-control" placeholder="Employee E-Mail">
                            <span class="text-danger" asp-validation-for="Email"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <input asp-for="Password" class="form-control">
                            <span class="text-danger" asp-validation-for="Password"></span>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label asp-for="RememberMe">
                                    <input asp-for="RememberMe" />
                                    @Html.DisplayNameFor(m=>m.RememberMe)
                                </label>
                            </div>
                        </div>



                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>

    </div>