@model Employee


@{
    ViewBag.Title = "Crate Employee";
}




<form asp-action="Create" asp-controller="Home" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" placeholder="Employee Name">
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" placeholder="E -Mail">
        <span class="text-danger" asp-validation-for="Email"></span>
    </div>
    <div class="form-group">
        <label asp-for="Department"></label>
        <select asp-for="Department" asp-items="Html.GetEnumSelectList<Dept>()" class="form-control">
           
        </select>
    </div>
     

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

